@page
@using Microsoft.AspNetCore.Http
@model TTTRazorDivcheckRadioDrpodown.Pages.Teachers.LoginModel
@{
    ViewData["Title"] = "Login as Teacher";
    //if (HttpContext.Session.Keys.Contains("User"))
    //{
    //    ViewData["Login"] = "LoggedIn";
    //    ViewData["User"] = HttpContext.Session.GetString("User");
    //}
    //else
    //{
    //    ViewData["Login"] = "NotLoggedIn";
    //}
}
<h1>Create A Teacher</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="custom-control-label">Navn</label>
                <input asp-for="@Model.Name" class="form-control" />
            </div>
            <div class="form-group">
                <label class="custom-control-label">Password</label>
                <input asp-for="@Model.Kodeord" class="form-control" />
            </div>

            <div class="form-group">
                <input type="submit" value="Create Teacher" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<a asp-page="Index">Go back to Teachers</a>
